.Auth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.Auth-container h2{
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.Registration-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    padding: 20px 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 7px;
    background-color: rgba(59, 59, 59, 0.49);
}

.Registration-container .Sing-in-list{
    display: flex;
    align-items: flex-start;
    height: 20%;
}
.Registration-container .Sing-in-list p{
    margin-left: 0;
}

.Registration-container .Sing-in-list a{
    color: #646cff;
    font-weight: normal;
}

.Registration-container .Sing-in-form form p{
    margin-left: 0;
}

.Registration-container .Sing-in-form form p a{
    color: #646cff;
    font-weight: normal;
}

.Registration-container .Sing-in-form{
    height: 100%;
}

.Registration-container .Sing-in-form form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.Registration-container .Sing-in-form form input{
    height: 40px;
    margin: 10px 0;
}

.Registration-container .Sing-in-form form button{
    object-fit: cover;
    margin-top: auto;
}